.gallery {
  display: flex;
  margin-top:10px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 15px;
}
.gallery__item--1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery__item--2 {
  
  float: right;
}
.gallery__item--3 {
  
  float: right;
}
.gallery__item--4 {
  
  float: right;
}
