#vector1{
    position: absolute;
    left: 61.93%;
    right: 28.04%;
    top: 10.9%;
    bottom: 77.46%;
    
    background: #2F2E41;
}
#vector2{
    position: absolute;
left: 29.61%;
right: 63.14%;
top: 12.11%;
bottom: 78.95%;

background: #A0616A;
}
#vector3{
    position: absolute;
left: 29.09%;
right: 63.15%;
top: 10.67%;
bottom: 81.87%;

background: #2F2E41;
}
