.footer{
    /* margin-top: 1rem; */
    padding:  5rem 0rem 0rem 0rem;
    background-color: rgb(0, 0, 0);
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
  }
  #watermark{
   
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 10ex;
    color: rgb(53, 53, 53);
  }
